$dark: #303633;
$gray: rgb(236, 236, 236);
$light: #FFFFFF;
$tint-light: #8BE8CB;
$tint-dark: #7EA2AA;
$tint-highlight: #888DA7;
$tint-rating: #f8e473;

@mixin no-user-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

@mixin drop-shadow () {
  -webkit-box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.25);
}

@mixin rounded-corners () {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@mixin align-center () {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}