@import 'theme';
@import 'components/modal';
@import 'components/product-grid';
@import 'components/product-rating';
@import 'components/slider';
@import 'components/spinner';

* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: 'Lato', 'Helvetica', arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $tint-light;
  background-color: $dark;

  &.modal-open {
    overflow: hidden;
  }
}

#root {
  position: relative;
}

.page {
  max-width: 720px;
  width: 100%;
  margin: 2rem auto 0 auto;
}

.btn {
  @include drop-shadow;
  cursor: pointer;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: background-color, transform;
  color: $light;
  background-color: $tint-dark;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 5px;
  text-align: center;
  
  &:hover {
    transform: scale(1.2);
    background-color: $tint-light;
  }

  .material-icons {
    @include no-user-select;
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    font-size: 32px;
  }
}

.btn--rotate {
  transform: rotate(0deg);

  &:hover {
    transform: rotate(180deg);
  }
}