.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 100;

  &.is-active {
    display: block;
  }
}

.modal-overlay {
  transition: opacity 0.4s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background-color: $dark;
  z-index: 100;
}

.modal-image {
  @include align-center;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  padding: 2rem 3rem;
  z-index: 110;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: $tint-dark;
  color: $light;
  z-index: 120;
}