.product-grid {
  width: 100%;
  max-width: 1200px;
  padding: 0 0.5rem;
  margin: 2rem auto 0 auto;
}

.product-row {
  @include clearfix;
}

.product-grid__upper {
  @include clearfix;
}

.product-grid__title, .product-grid__sub {
  text-align: center;
}

.product-grid__sub {
  color: $tint-dark;
  margin-top: 5px;
}

.product-grid__item {
  transition: transform 0.15s ease-out;

  @include drop-shadow;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  float: left;
  width: 100%;
  height: 516px;
  background-color: white;
  margin-bottom: 1.2rem;
  
  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.product-item__image {
  padding: 2rem 1rem;
}

.product-item__bg {
  width: 100%;
  height: 240px;
}

.product-item__info {
  @include clearfix;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  background-color: $gray;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid $gray;
}

.product-item__name {
  margin: 0;
  color: $dark;
  height: 46px;
}

.product-item__price {
  margin: 0.5rem 0;
  padding-top: 2rem;
  color: $tint-highlight;
  font-weight: bold;
  font-size: 1.8rem;
}

.product-item__rating {
  height: 28px;
}

.product-item__colors {
  height: 24px;
  overflow: hidden;
}

.product-item__color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

@media only screen and (min-width:560px) {
  .product-grid__title {
    text-align: left;
  }

  .product-grid__item {
    width: 49%;
    margin-right: 2%;
  }

  .product-grid__title {
    float: left;
  }

  .product-grid__sub {
    margin-top: 2rem;
    float: right;
  }

  .product-grid__item:nth-of-type(1) {
    width: 100%;
  }
}

@media only screen and (min-width:860px) { 
  .product-grid__item,
  .product-grid__item:nth-of-type(n+1) {
    width: 32%;
  }
}