.slider {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.slider-title {
  text-align: center;
  margin-bottom: 1.2rem;
}

.slider-inner {
  @include drop-shadow;
  position: relative;
  height: 460px;
  overflow: hidden;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.slider-info {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}

.slider-info--left {
  float: none;

  .slider-info__item {
    background-color: $tint-highlight;  
  }
}

.slider-info--right {
  float: none;

  .slider-info__item {
    margin-right: 0;
  }
}

.slider-info__item {
  padding: 2px 8px;
  border-radius: 10px;
  color: $light;
  background-color: $tint-dark;
  margin-right: 5px;
}

.slider-item {
  @include align-center;
  cursor: pointer;
  transition: all 0.6s;
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  background-color: white;
  text-align: center;
  
  &.is-active {
    opacity: 1;
    z-index: 15;
  }
}

.slider-item__title {
  transition: all 0.4s;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
  text-align: center;
}

.slider-item__image {
  max-width: 100%;
  max-height: 410px;
  padding: 0 1rem 1rem 1rem;
}

.slider-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 50;
}

.slider-arrow--next {
  right: -20px;
}

.slider-arrow--prev {
  left: -20px;
}

.slider-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  top: 470px;
}

.slider-dot {
  @include drop-shadow;
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: $tint-dark;
  border-radius: 50%;
  margin-right: 5px;

  &.is-active {
    background-color: $tint-light;
  }
}

@media only screen and (min-width:620px) { 
  .slider {
    margin-bottom: 4rem;
  }
  
  .slider-inner {
    height: 520px;
  }

  .slider-dots {
    top: 520px;
  }
  
  .slider-info--left {
    float: left;
  }

  .slider-info--right {
    float: right;
  }
}