.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orb {
  width: 16px;
  height: 16px;
  animation: loading 0.5s infinite ease-out;
  border-radius: 50% 50%;
}

@keyframes loading {
  0% {
    transform: translateX(0px);
    background-color: $tint-light;
  }

  50% {
    transform: translateX(10px);
    background-color: $tint-dark;
  }


  100% {
    transform: translateX(0px);
    background-color: $tint-light;
  }
}